node_modules/
dist/
__pycache__/
*.pyc
tokens.json
config.json
*.exe
.env
.DS_Store
Thumbs.db
desktop.ini
*.log
live_proxies.json
residential_proxies.txt
emails.txt
*_test*.py
*_debug*.py
*_fake*.py
stdout.txt
stderr.txt
